
<script src="~/Content/admin-lte/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- /.box -->

<div class="box">
  <div class="box-header with-border">
      <h3 class="box-title">Student Table</h3>
      <button type="button" class="btn btn-success pull-right" (click)="showModal(studentForm)"><i class="fa fa-plus"></i> <span>Add new student</span></button>      
  </div>
  <div class="box-body">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th>
                        <p>No</p>
                    </th>
                    <th>
                        <p>Last Name</p>
                    </th>
                    <th>
                        <p>First Name</p>
                    </th>
                    <th>
                        <p>University</p>
                    </th>
                    <th>
                        <p>Major</p>
                    </th>
                    <th>
                        <p>Gender</p>
                    </th>
                    <th>
                        <p>Date of Birth</p>
                    </th>
                    <th>
                        <p>Address</p>
                    </th>
                    <th>
                        <p>Email</p>
                    </th>
                    <th>
                        <p>Phone</p>
                    </th>
                    <th class="option-width">
        
                    </th>
                    <th class="option-width">

                    </th>
                </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let st of students; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ st.user.lastname }}</td>
                <td>{{ st.user.firstname }}</td>
                <td>{{ st.university.name }}</td>
                <td>{{ st.major.name }}</td>
                <td>{{ st.user.gender == 1 ? "Male" : "Female" }}</td>
                <td>{{ st.user.dob | date : 'dd-MM-yyyy'}}</td>
                <td>{{ st.user.address }}</td>
                <td>{{ st.user.email }}</td>
                <td>{{ st.user.phone }}</td>
                <td>                    
                    <a href="#" (click)="showModal(studentForm, $event, st.id)"><i class="fa fa-edit text-primary"></i></a>
                </td>
                <td>                    
                    <a href="#" (click)="showDeleteModal($event, st.id)"><i class="fa fa-remove text-danger"></i></a>
                </td>
            </tr>             
          </tbody>                   
      </table>      
    </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                <h4 class="modal-title">Create new student</h4>                
            </div>
            <div class="modal-body">
                <form #studentForm="ngForm">
                    <div class="box-body">
                        <input id="id" hidden name="id" [(ngModel)]="user.id"/>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtLastName" class="col-sm-2 col-md-3 col control-p">Last Name</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="text" class="form-control" id="txtLastName" placeholder="" [(ngModel)]="user.lastname" name="lastname">
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtFirstName" class="col-sm-2 col-md-3 col control-p">First Name</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="text" class="form-control" id="txtFirstName" placeholder="" [(ngModel)]="user.firstname" name="firstname">
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="gender" class="col-sm-2 col-md-3 col control-p">Gender</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input type="radio" name="gender" [value]="1" [(ngModel)]="user.gender"> Male
                                            <input type="radio" name="gender" [value]="2" [(ngModel)]="user.gender"> Female
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtIdentityNumber" class="col-sm-2 col-md-3 col control-p">Identity Number</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="text" class="form-control" id="txtIdentityNumber" placeholder="" [(ngModel)]="user.identitynumber" name="identitynumber">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="datepicker" class="col-sm-2 col-md-3 control-p">Date of birth</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input required type="date" class="form-control pull-left" id="dtpDateofBirth" style="width:242px" [(ngModel)]="user.dob" name="dob">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtAddress" class="col-sm-2 col-md-3 control-p">Address</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="text" class="form-control" id="txtAddress" placeholder="" [(ngModel)]="user.address" name="address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
            
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtEmail" class="col-sm-2 col-md-3 control-p">Email</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="email" class="form-control" id="txtEmail" placeholder="" [(ngModel)]="user.email" name="email">
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtPhone" class="col-sm-2 col-md-3 control-p">Phone</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="text" class="form-control" id="txtPhone" placeholder="" [(ngModel)]="user.phone" name="phone">
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="drdownUniversity" class="col-sm-2 col-md-3 control-p">University</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <select required class="form-control" id="drdownUniversity" [(ngModel)]="student.univerId" name="univerId">
                                                <option *ngFor="let option of universities" [ngValue]="option.id">{{option.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="drdownMajor" class="col-sm-2 col-md-3 control-p">Major</label>
                                            
                                        <div class="col-sm-10 col-md-9">
                                            <select required class="form-control" id="drdownMajor" [(ngModel)]="student.majorid" name="majorid" convert-to-number>
                                                <option *ngFor="let option of majors" [ngValue]="option.id">{{option.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="dtpStartDate" class="col-sm-2 col-md-3 control-p">Start Date</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="date" class="form-control pull-left" id="dtpDateofBirth" style="width:242px" [(ngModel)]="student.readyworkdate" name="readyworkdate">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                  <div class="col-sm-6">
                                      <label for="rbtnDeposit" class="col-sm-6 control-label">Deposit</label>
              
                                      <div class="col-sm-6">
                                          <input type="checkbox" id="rbtnDeposit" value="true" [(ngModel)]="student.deposits" name="deposits" ng-check="student.deposits"/>
                                      </div>
                                  </div>
              
                                  <div class="col-sm-6">
                                      <label for="rbtnCertification" class="col-sm-6 control-label pl-0" style="padding-left: 0;">Certification</label>
                                      <div class="col-sm-6">
                                          <input type="checkbox" id="rbtnCertification" value="true" [(ngModel)]="student.certification" name="certification" ng-check="student.certification"/>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button type="submit" class="btn btn-success" id="btnSave" (click)="save()" [disabled]="!studentForm.form.valid">{{ (user.id === undefined || user.id === 0) ? 'Add':'Save'}}</button>                   
            </div>
        </div>
    </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title pull-left">Confirm</h4>          
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light btn-cancel" (click)="deleteModal.hide()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </div>
      </div>
  </div>
</div>


