<link rel="stylesheet" href="/assets/css/TimeTable.css" />
<h2>Time Table</h2>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Select option</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container-fluid">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Course</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Intake 02</option>
                                <option>Intake 03</option>
                                <option>Intake 04</option>
                                <option>Intake 05</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Class</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Database</option>
                                <option>Critical</option>
                                <option>Onjob</option>
                                <option>Front-end</option>
                                <option>Back-end</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Week</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Week 1(02/02/2019 - 08/02/2019)</option>
                                <option>Week 2(09/02/2019 - 15/02/2019)</option>
                                <option>Week 3(16/02/2019 - 22/02/2019)</option>
                                <option>Week 4(23/02/2019 - 01/03/2019)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <br />
                            <button type="button" style="margin-left:30px;margin-top:5px;" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-1">
                        <a href="#addnewtimetable" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus"></i> <span>Add New Time Table</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Time table detail</h3><br />
        <button type="button" class="btn btn-info" style="margin-top:10px;">
            Copy
        </button>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container-fluid">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    Mo
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">
                                    LI.605
                                </h3>
                                <p>
                                    L1: Onjob
                                    <br> Lecture: Liem<br>
                                    <br>L2: Onjob
                                    <br> Lecture: Liem<br>
                                    <br>L3: Onjob
                                    <br> Lecture: Liem<br>
                                    <br>L4: Onjob
                                    <br> Lecture: Liem
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    Tu
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">
                                    LI.606
                                </h3>
                                <p>
                                    L1:Front end
                                    <br>Lecture: Dan<br>
                                    <br>L2:Front end
                                    <br>Lecture: Dan<br>
                                    <br>L3:Front end
                                    <br>Lecture: Dan<br>
                                    <br>L4:Front end
                                    <br>Lecture: Dan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    We
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">
                                    LI.607
                                </h3>
                                <p>
                                    L1:Critical thinking
                                    <br>Lecture: Thuan<br>
                                    <br>L2:Critical thinking
                                    <br>Lecture: Thuan<br>
                                    <br>L3:Critical thinking
                                    <br>Lecture: Thuan<br>
                                    <br>L4:Critical thinking
                                    <br>Lecture: Thuan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    Th
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">
                                    LI.608
                                </h3>
                                <p>
                                    L1:Critical thinking
                                    <br>Lecture: Thuan<br>
                                    <br>L2:Critical thinking
                                    <br>Lecture: Thuan<br>
                                    <br>L3:Critical thinking
                                    <br>Lecture: Thuan<br>
                                    <br>L4:Critical thinking
                                    <br>Lecture: Thuan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    Fr
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">
                                    LI.609
                                </h3>
                                <p>
                                    L1:Working process
                                    <br>Lecture: Son<br>
                                    <br>L2:Working process
                                    <br>Lecture: Son<br>
                                    <br>L3:Working process
                                    <br>Lecture: Son<br>
                                    <br>L4:Working process
                                    <br>Lecture: Son
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    Sa
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">
                                    LI.605
                                </h3>
                                <p>
                                    L1: Onjob
                                    <br> Lecture: Liem
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    Su
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">
                                    LI.605
                                </h3>
                                <p>
                                    L1: Onjob
                                    <br> Lecture: Liem
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="addnewtimetable" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Add New Time Table</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>Add new time table next week?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Yes">
                    <input type="submit" class="btn btn-primary" value="Custom">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                </div>
            </form>
        </div>
    </div>
</div>