
<div class="login-box">
  <div class="login-logo">
    <p><b>Admin</b></p>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <p class="login-box-msg text-danger">{{message}}</p>
    
    <form #frm="ngForm" method="post">
      <div class="form-group has-feedback">
        <input 
        required 
        [(ngModel)]="username"
        #txtusername="ngModel"
        name="Username" 
        type="text" 
        autocomplete="username" 
        class="form-control" 
        placeholder="Enter Username"
        >
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div *ngIf="txtusername.touched" class="text-danger">
          <p *ngIf="txtusername.errors?.required">
              Username is required!
          </p>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input 
        required 
        [(ngModel)]="password" 
        name="Password" 
        #txtpassword="ngModel"
        type="password" 
        autocomplete="current-password" 
        class="form-control" 
        placeholder="Enter Password"
        >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div *ngIf="txtpassword.touched" class="text-danger">
            <p *ngIf="txtpassword.errors?.required">
                Password is required!
            </p>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button [disabled]="frm.invalid" type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    
    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    /.social-auth-links -->

    <!-- <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a> -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- {{ frm.value | json }} -->
<!-- /.login-box -->
