<h2>Add Time Table</h2>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Select option</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container-fluid">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Course</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Intake 02</option>
                                <option>Intake 03</option>
                                <option>Intake 04</option>
                                <option>Intake 05</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Class</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Database</option>
                                <option>Critical</option>
                                <option>Onjob</option>
                                <option>Front-end</option>
                                <option>Back-end</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Week</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Week 1(02/02/2019 - 08/02/2019)</option>
                                <option>Week 2(09/02/2019 - 15/02/2019)</option>
                                <option>Week 3(16/02/2019 - 22/02/2019)</option>
                                <option>Week 4(23/02/2019 - 01/03/2019)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Room</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>LI.605</option>
                                <option>LI.606</option>
                                <option>LI.607</option>
                                <option>LI.608</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Teacher</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Phan Thanh Dan</option>
                                <option>Nguyen Huu Son</option>
                                <option>Ly Huu Manh</option>
                                <option>Tran Quoc Thien</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <br />
                            <button type="button" style="margin-top:5px;" class="btn btn-info">
                                <span class="fa fa-plus"></span> Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Time table</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container-fluid">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Lession 1
                                </th>
                                <th>
                                    Lession 2
                                </th>
                                <th>
                                    Lession 3
                                </th>
                                <th>
                                    Lession 4
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Frriday</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" /></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="form-group">
                        <br />
                        <button type="button" style="float:right" class="btn btn-success">
                            <span class="fa fa-floppy-o"></span> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>